@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Hospedaje Santa Ursula"]</h1>


<p>Santa Ursula posee un alojamiento cómodo, diseño clásico con detalles elegantes. 
    Esta ubicado en el corazón de Arequipa. Nuestro hotel le ofrece una estadía llena de comodidad 
    y tranquilidad, en la que podrá disfrutar al máximo de una experiencia única.
    Además de espacios y cómodas habitaciones encontrará servicios como estacionamiento privado, 
    cafetería y bar.</p>
<p>En nuestra hermosa ciudad  de Arequipa encontrará numerosos atractivos turísticos como museos y parques,
    restaurantes turisticos, entre otros.</p>
