@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="~/css/logincss.css" />
</head>

<body>
<!--Inicio Banner-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner1.jpg'); background-attachment:fixed; height: 200px;">
      <div class="overlay" style="height: 200px;" ></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height: 200px;">
           <div class="col-md-8 ftco-animate text-center">          
             <h1 class="mb-3 bread">Registrarse</h1>
            </div>
          </div>
       </div>
</div>    
<!--Fin Banner-->
<br>
<br>
<br>

<div class="formulario">
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear una nueva cuenta.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>    
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
</body>
</html>